name: Publish
on:
  workflow_call:
    inputs:
      tag:
        type: string
        default: 'latest'
        description: 'The dist-tag to publish to'
    secrets:
      NPM_TOKEN:
        required: true
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 24.x
        uses: actions/setup-node@v5
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - uses: step-security/wait-for-secrets@v1
        id: otp
        with:
          secrets: |
            OTP:
              name: 'npm otp'
              description: 'An npm one time password'
      - name: Publish
        run: npm publish --access=public --tag="${{ inputs.tag }}" --otp="${{ steps.otp.outputs.OTP }}"
