name: Release
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
  actions: write
jobs:
  test:
    uses: ./.github/workflows/test-workflow.yml
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test]
    outputs:
      releasePlease: ${{ toJSON(steps.releasePlease.outputs) }}
    steps:
      - name: setup git user
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
      - uses: actions/checkout@v6
      - uses: google-github-actions/release-please-action@v4
        name: Release Please
        if: github.ref_name == 'main'
        id: releasePlease
        with:
          release-type: node
          token: ${{ secrets.GITHUB_TOKEN }}
  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: [release]
    if: github.ref_name == 'main' && !fromJson(needs.release.outputs.releasePlease).pr
    steps:
      - uses: ./.github/workflows/publish.yml
